@import "../lessVariables.less";

.main-body {
  position: fixed;
  width: 100%;
  height: 100%;
  top: @top-menu-height;
  left: 0;
  padding-bottom: @top-menu-height;
}

.nav-tab {
  display: inline-block;
  width: @nav-width;
  height: 100%;
  padding-bottom: @top-menu-height;
  background: @background2;
  vertical-align: top;
  overflow: auto;
}
.nav-tab::-webkit-scrollbar {
  display: none;
}

.nav-tab-item-wrapper {
  display: block;
  width: 100%;
  height: @item-height;
}

.nav-tab-item-dropbox {
  display: block;
  position: relative;
  width: 100%;
  height: 0px;
  z-index: 2;
  transform: translate(0, -28px);
  background: none;
  opacity: 0;
}

.nav-tab-item-dropbox-bottom {
  .nav-tab-item-dropbox;
  transform: translate(0, -16px);
}

.nav-tab-item-container {
  display: flex;
  position: relative;
}

.nav-tab-item {
  display: flex;
  position: relative;
  flex: 1;
  height: @item-height;
  padding: 2px 10px 0 7px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    background: @background-highlight;
    color: white;
  }
  &:hover .nav-tab-item-config {
    background: @background-highlight;
    color: @default-color;
    opacity: 1;
    &:hover {
      color: white;
    }
  }
}

.nav-tab-item-over {
  .nav-tab-item;
  background: @background-selected;
  &:hover {
    background: @background-selected;
  }
  &:hover .nav-tab-item-config-over {
    background: @background-selected;
    opacity: 1;
  }
}

.item-tag {
  display: inline-block;
  width: 8px;
  padding: 1px 0 1px 0;
  background: none;
  font-size: 16px;
  overflow: visible;
}

.item-tags {
  display: inline-block;
  padding: 3px 14px 0 0;
  overflow: visible;
}

.item-spacer {
  width: 20px;
  height: @item-height;
  outline: none;
  text-align: center;
}

.nav-tab-item-tags-wrapper {
  display: inline-block;
  margin-top: -3px;
  padding-right: 20px;
  overflow: visible;
}

.nav-tab-item-title {
  flex: 1;
  margin-left: 2px;
  text-overflow: ellipsis;
}

.nav-tab-item-tail {
  position: absolute;
  width: @item-height;
  height: @item-height;
  top: 2px;
  right: 0;
  margin-right: 2px;
  z-index: 0;
  text-align: center;
}

.nav-tab-item-config {
  position: absolute;
  width: @item-height;
  height: @item-height;
  top: 0;
  right: 0;
  z-index: 1;
  padding-top: 2px;
  background: @background2;
  text-align: center;
  opacity: 0;
}

.nav-tab-item-config-over {
  .nav-tab-item-config;
  background: @background-selected;
}

.main-tab {
  display: inline-block;
  width: @main-width;
  height: 100%;
  background: @background3;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.main-container {
  display: inline-block;
  vertical-align: top;
}

.main-item-wrapper {
  display: flex;
  position: relative;
  flex: 1;
  width: 100%;
  height: @item-height;
  background: @background3;
  &:hover {
    background: @background-highlight;
  }
  &:hover .main-item {
    color: white;
  }
  &:hover .main-item-config {
    width: 25px;
    color: @default-color;
    opacity: 1;
    &:hover {
      color: white;
    }
  }
}

.main-item {
  display: flex;
  flex: 1;
  height: 100%;
  margin: 1px 0 5px 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-item-config {
  display: block;
  width: 0;
  height: @item-height;
  padding-top: 4px;
  background: none;
  text-align: center;
  overflow: hidden;
  color: white;
  opacity: 0;
}

.icon-favicon {
  display: inline-block;
  width: 20px;
  height: @item-height;
  object-fit: contain;
}

.main-item-title {
  flex: 1;
  margin: 3px 0 0 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-item-folder-title {
  .main-item-title;
  margin: 3px 0 0 3px;
}

.main-item-folder-icon {
  margin: 3px 0 0 2px;
}
