.main-body {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 38px;
  left: 0;
  padding-bottom: 38px;
}
.nav-tab {
  display: inline-block;
  width: 24%;
  height: 100%;
  padding-bottom: 38px;
  background: hsl(0, 0%, 15%);
  vertical-align: top;
  overflow: auto;
}
.nav-tab::-webkit-scrollbar {
  display: none;
}
.nav-tab-item-wrapper {
  display: block;
  width: 100%;
  height: 30px;
}
.nav-tab-item-dropbox {
  display: block;
  position: relative;
  width: 100%;
  height: 0px;
  z-index: 2;
  transform: translate(0, -28px);
  background: none;
  opacity: 0;
}
.nav-tab-item-dropbox-bottom {
  display: block;
  position: relative;
  width: 100%;
  height: 0px;
  z-index: 2;
  transform: translate(0, -28px);
  background: none;
  opacity: 0;
  transform: translate(0, -16px);
}
.nav-tab-item-container {
  display: flex;
  position: relative;
}
.nav-tab-item {
  display: flex;
  position: relative;
  flex: 1;
  height: 30px;
  padding: 2px 10px 0 7px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.nav-tab-item:hover {
  background: hsl(0, 0%, 30%);
  color: white;
}
.nav-tab-item:hover .nav-tab-item-config {
  background: hsl(0, 0%, 30%);
  color: hsl(0, 0%, 85%);
  opacity: 1;
}
.nav-tab-item:hover .nav-tab-item-config:hover {
  color: white;
}
.nav-tab-item-over {
  display: flex;
  position: relative;
  flex: 1;
  height: 30px;
  padding: 2px 10px 0 7px;
  line-height: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  background: hsl(0, 0%, 40%);
}
.nav-tab-item-over:hover {
  background: hsl(0, 0%, 30%);
  color: white;
}
.nav-tab-item-over:hover .nav-tab-item-config {
  background: hsl(0, 0%, 30%);
  color: hsl(0, 0%, 85%);
  opacity: 1;
}
.nav-tab-item-over:hover .nav-tab-item-config:hover {
  color: white;
}
.nav-tab-item-over:hover {
  background: hsl(0, 0%, 40%);
}
.nav-tab-item-over:hover .nav-tab-item-config-over {
  background: hsl(0, 0%, 40%);
  opacity: 1;
}
.item-tag {
  display: inline-block;
  width: 8px;
  padding: 1px 0 1px 0;
  background: none;
  font-size: 16px;
  overflow: visible;
}
.item-tags {
  display: inline-block;
  padding: 3px 14px 0 0;
  overflow: visible;
}
.item-spacer {
  width: 20px;
  height: 30px;
  outline: none;
  text-align: center;
}
.nav-tab-item-tags-wrapper {
  display: inline-block;
  margin-top: -3px;
  padding-right: 20px;
  overflow: visible;
}
.nav-tab-item-title {
  flex: 1;
  margin-left: 2px;
  text-overflow: ellipsis;
}
.nav-tab-item-tail {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 2px;
  right: 0;
  margin-right: 2px;
  z-index: 0;
  text-align: center;
}
.nav-tab-item-config {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  z-index: 1;
  padding-top: 2px;
  background: hsl(0, 0%, 15%);
  text-align: center;
  opacity: 0;
}
.nav-tab-item-config-over {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 0;
  right: 0;
  z-index: 1;
  padding-top: 2px;
  background: hsl(0, 0%, 15%);
  text-align: center;
  opacity: 0;
  background: hsl(0, 0%, 40%);
}
.main-tab {
  display: inline-block;
  width: 76%;
  height: 100%;
  background: hsl(0, 0%, 10%);
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.main-container {
  display: inline-block;
  vertical-align: top;
}
.main-item-wrapper {
  display: flex;
  position: relative;
  flex: 1;
  width: 100%;
  height: 30px;
  background: hsl(0, 0%, 10%);
}
.main-item-wrapper:hover {
  background: hsl(0, 0%, 30%);
}
.main-item-wrapper:hover .main-item {
  color: white;
}
.main-item-wrapper:hover .main-item-config {
  width: 25px;
  color: hsl(0, 0%, 85%);
  opacity: 1;
}
.main-item-wrapper:hover .main-item-config:hover {
  color: white;
}
.main-item {
  display: flex;
  flex: 1;
  height: 100%;
  margin: 1px 0 5px 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-item-config {
  display: block;
  width: 0;
  height: 30px;
  padding-top: 4px;
  background: none;
  text-align: center;
  overflow: hidden;
  color: white;
  opacity: 0;
}
.icon-favicon {
  display: inline-block;
  width: 20px;
  height: 30px;
  object-fit: contain;
}
.main-item-title {
  flex: 1;
  margin: 3px 0 0 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.main-item-folder-title {
  flex: 1;
  margin: 3px 0 0 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 3px 0 0 3px;
}
.main-item-folder-icon {
  margin: 3px 0 0 2px;
}
.modal-hidden {
  display: none;
}
.modal-background {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background: black;
  opacity: 0.8;
}
.modal-box {
  position: fixed;
  top: 30%;
  left: 50%;
  z-index: 10;
  transform: translate(-270px, 0);
  background: hsl(0, 0%, 15%);
  opacity: 1;
}
.modal-box-list {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 10;
  transform: translate(-270px, 0);
  background: hsl(0, 0%, 15%);
  opacity: 1;
}
.modal-form {
  display: block;
  width: 550px;
  margin-top: 24px;
}
.modal-box-close-button {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 0;
  text-align: center;
}
.modal-box-close-button:hover {
  background: hsl(0, 0%, 30%);
}
.modal-box-close-button-icon {
  padding: 3px 0 0 5px;
  font-size: 15px;
}
.modal-buttons-container {
  width: 100%;
  height: 30px;
  background: hsl(0, 0%, 15%);
  text-align: right;
}
.modal-right-button {
  display: inline-block;
  height: 30px;
  padding: 0 14px 0 14px;
  background: hsl(0, 0%, 15%);
  text-align: center;
  line-height: 28px;
  font-weight: 600;
  color: white;
}
.modal-right-button:hover {
  background: hsl(0, 0%, 30%);
}
.modal-left-button {
  display: inline-block;
  height: 30px;
  padding: 0 14px 0 14px;
  background: hsl(0, 0%, 15%);
  text-align: center;
  line-height: 28px;
  font-weight: 600;
  color: white;
  float: left;
}
.modal-left-button:hover {
  background: hsl(0, 0%, 30%);
}
.modal-form-inbox {
  padding: 5px 0 0 17px;
  text-align: left;
  font-weight: 800;
  color: hsl(0, 0%, 85%);
}
.modal-form-inbox-text {
  padding: 2px 0 8px 17px;
  font-weight: 400;
  color: hsl(0, 0%, 50%);
}
.modal-inputbox-container {
  display: block;
  width: 100%;
  padding: 6px 15px 4px 0;
  text-align: right;
}
.modal-inputbox-title {
  float: left;
  width: 25%;
  padding: 2px 0 0 0;
  text-align: center;
  font-weight: 800;
  color: hsl(0, 0%, 50%);
}
.modal-inputbox-box {
  display: inline-block;
  width: 75%;
  padding: 4px 5px 2px 5px;
  border: none;
  border-bottom: 1px solid hsl(0, 0%, 30%);
  outline: none;
  background: hsl(0, 0%, 15%);
  vertical-align: top;
  color: hsl(0, 0%, 85%);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.modal-inputbox-box:hover {
  background: hsl(0, 0%, 30%);
  color: white;
}
.modal-inputbox-box:focus {
  background: hsl(0, 0%, 40%);
  color: white;
}
.modal-tags-container {
  display: inline-block;
  width: 100%;
  padding: 7px 10px 0 0;
  text-align: right;
  vertical-align: top;
}
.modal-tags-title {
  float: left;
  width: 25%;
  padding: 3px 0 0 0;
  text-align: center;
  font-weight: 800;
  color: hsl(0, 0%, 50%);
}
.modal-tags {
  display: inline-block;
  width: 75%;
  text-align: left;
  vertical-align: top;
}
.modal-tag-off {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 1px;
  padding: 7px 0 0 7px;
  border-radius: 50%;
  line-height: 18px;
}
.modal-tag-off:hover {
  background: hsl(0, 0%, 30%);
}
.modal-tag-on {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 1px;
  padding: 7px 0 0 7px;
  border-radius: 50%;
  line-height: 18px;
  padding: 5px 0 0 5px;
  border-color: hsl(0, 0%, 85%);
  border-width: 2px;
  border-style: solid;
  background: hsl(0, 0%, 40%);
}
.modal-tag-on:hover {
  background: hsl(0, 0%, 30%);
}
.modal-tag-on:hover {
  background: hsl(0, 0%, 40%);
}
.modal-tags-config-selection {
  padding: 3px 0 5px 30px;
}
.modal-tags-config-box {
  position: fixed;
  top: 30%;
  left: 50%;
  z-index: 10;
  transform: translate(-270px, 0);
  background: hsl(0, 0%, 15%);
  opacity: 1;
  top: 17%;
  overflow: visible;
}
.modal-tags-config-item-container {
  padding: 3px 13px 13px 15px;
}
.modal-tags-config-item {
  display: flex;
  height: 30px;
  margin: 2px 0;
}
.modal-tags-config-tag-icon {
  width: 30px;
  height: 30px;
  padding: 7px 0 0 4px;
  line-height: 18px;
  font-size: 17px;
}
.modal-tags-config-inputbox-container {
  display: flex;
  position: relative;
  flex: 1;
  text-align: left;
}
.modal-tags-config-inputbox-container:hover {
  background: hsl(0, 0%, 30%);
}
.modal-tags-config-inputbox-title {
  flex: 1;
  padding: 4px 5px 2px 4px;
  border: none;
  border-bottom: 1px solid hsl(0, 0%, 30%);
  outline: none;
  background: none;
  vertical-align: top;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
}
.modal-tags-config-inputbox-title:focus {
  background: hsl(0, 0%, 40%);
}
.modal-tags-config-discard-button {
  width: 30px;
  height: 30px;
  padding: 4px 0 0 3px;
  border-radius: 50%;
  text-align: center;
}
.modal-tags-config-discard-button:hover {
  background: hsl(0, 0%, 30%);
}
.modal-tags-config-discard-button:hover .modal-tags-config-discard-button-tooltip {
  display: block;
}
.modal-tags-config-discard-button-on {
  width: 30px;
  height: 30px;
  padding: 4px 0 0 3px;
  border-radius: 50%;
  text-align: center;
  padding: 2px 0 0 3px;
  border: 2px solid hsl(0, 0%, 85%);
  background: hsl(0, 0%, 40%);
}
.modal-tags-config-discard-button-on:hover {
  background: hsl(0, 0%, 30%);
}
.modal-tags-config-discard-button-on:hover .modal-tags-config-discard-button-tooltip {
  display: block;
}
.modal-tags-config-discard-button-on:hover {
  background: hsl(0, 0%, 40%);
}
.modal-tags-config-discard-button-on:hover .modal-tags-config-discard-button-tooltip {
  display: block;
}
.modal-tags-config-discard-button-tooltip {
  display: none;
  position: fixed;
  height: 21px;
  padding: 0px 5px 0 5px;
  transform: translate(20px, -3px);
  background: hsl(0, 0%, 5%);
  white-space: nowrap;
  font-size: 13px;
  color: white;
}
.modal-shortcuts-container {
  display: inline-block;
  width: 100%;
  padding: 0px 15px 0 0;
  text-align: right;
}
.modal-shortcuts-title {
  float: left;
  width: 25%;
  padding: 4px 0 0 0;
  text-align: center;
  font-weight: 800;
  color: hsl(0, 0%, 50%);
}
.modal-shortcuts {
  display: inline-block;
  width: 75%;
  text-align: left;
  vertical-align: top;
}
.modal-shortcut-off {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 1px;
  padding: 3px 0 0 1px;
  border-radius: 50%;
  text-align: center;
  line-height: 23px;
  font-weight: 600;
}
.modal-shortcut-off:hover {
  background: hsl(0, 0%, 30%);
}
.modal-shortcut-on {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 1px;
  padding: 3px 0 0 1px;
  border-radius: 50%;
  text-align: center;
  line-height: 23px;
  font-weight: 600;
  background: hsl(0, 0%, 40%);
  padding: 1px 0 0 1px;
  border-width: 2px;
  border-style: solid;
  border-color: hsl(0, 0%, 85%);
}
.modal-shortcut-on:hover {
  background: hsl(0, 0%, 30%);
}
.modal-shortcut-on:hover {
  background: hsl(0, 0%, 40%);
}
.modal-shortcut-list-container {
  padding: 0 7px 7px 7px;
}
.modal-shortcut-list {
  display: flex;
  width: 100%;
  height: 30px;
}
.modal-shortcut-list-number {
  padding: 3px 0 0 11px;
  width: 35px;
  font-weight: 600;
  color: hsl(0, 0%, 50%);
}
.modal-shortcut-list-item {
  display: flex;
  flex: 1;
  padding-left: 8px;
  color: hsl(0, 0%, 85%);
}
.modal-shortcut-list-item:hover {
  background: hsl(0, 0%, 30%);
  text-decoration: none;
  color: white;
}
.modal-shortcut-list-item:hover .modal-shortcut-list-reset-button {
  width: 30px;
  padding: 3px 0 0 5px;
  color: hsl(0, 0%, 85%);
}
.modal-shortcut-list-item:hover .modal-shortcut-list-reset-button:hover {
  color: white;
}
.modal-shortcut-list-title {
  flex: 1;
  padding: 2px 0 0 0;
  text-overflow: ellipsis;
}
.modal-shortcut-list-reset-button {
  width: 0;
}
.top-bar {
  position: fixed;
  width: 100%;
  height: 38px;
  top: 0;
  left: 0;
  z-index: 1;
  box-shadow: 0 0px 5px hsl(0, 0%, 30%);
}
.top-bar-menu-tooltip {
  display: none;
  position: fixed;
  height: 21px;
  padding: 0px 5px 0 5px;
  transform: translate(24px, -4px);
  background: hsl(0, 0%, 5%);
  font-size: 13px;
  color: white;
}
.nav-menu {
  display: flex;
  position: absolute;
  width: 24%;
  height: 38px;
  top: 0;
  left: 0;
  padding-left: 8px;
  background: hsl(0, 0%, 5%);
  line-height: 38px;
  font-weight: bold;
}
.nav-menu-title {
  flex: 1;
  text-overflow: ellipsis;
}
.nav-menu-container {
  width: 38px;
  height: 38px;
  padding: 1px 0 0 5px;
  text-align: center;
  font-size: 22px;
}
.nav-menu-container:hover {
  background: hsl(0, 0%, 30%);
  color: white;
}
.nav-menu-container:hover .nav-menu-tooltip {
  display: block;
}
.nav-menu-tooltip {
  display: none;
  position: fixed;
  height: 21px;
  padding: 0px 5px 0 5px;
  transform: translate(24px, -4px);
  background: hsl(0, 0%, 5%);
  font-size: 13px;
  color: white;
  transform: translate(19px, -3px);
  line-height: 21px;
  font-weight: 400;
}
.main-menu {
  display: flex;
  position: absolute;
  width: 76%;
  height: 38px;
  top: 0;
  left: 24%;
  background: hsl(0, 0%, 5%);
  vertical-align: top;
}
.top-bar-menu-container {
  float: left;
  height: 38px;
  text-align: left;
}
.top-bar-menu-container:hover {
  background: hsl(0, 0%, 30%);
  color: white;
}
.top-bar-menu-option {
  display: inline-block;
  width: 38px;
  height: 38px;
}
.top-bar-menu-option:hover {
  background: hsl(0, 0%, 30%);
  color: white;
}
.top-bar-menu-option-icon {
  width: 38px;
  height: 38px;
  padding: 8px 0 0 5px;
  font-size: 24px;
}
.top-bar-menu-icon {
  height: 38px;
  width: 38px;
  padding: 7px 0 0 4px;
  font-size: 25px;
}
.top-bar-menu-dropdown {
  position: fixed;
  display: none;
  width: 90px;
  background: hsl(0, 0%, 5%);
  text-align: left;
}
.top-bar-menu-title {
  height: 30px;
  padding-left: 7px;
  line-height: 30px;
  font-size: 14px;
  font-weight: 600;
}
.top-bar-menu-option-title {
  height: 30px;
  padding-left: 7px;
  line-height: 30px;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  padding-left: 0;
  font-weight: normal;
}
.option-select {
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-left: 3px;
  text-align: center;
  overflow: visible;
}
.option-select-hide {
  visibility: hidden;
  display: inline-block;
  width: 20px;
  height: 20px;
  padding-left: 3px;
  text-align: center;
  overflow: visible;
}
.shortcutList-container {
  float: left;
  height: 38px;
  text-align: left;
}
.shortcutList-container:hover {
  background: hsl(0, 0%, 30%);
  color: white;
}
.shortcutList-container:hover .shortcutList-tooltip {
  display: block;
}
.shortcutList-icon {
  height: 38px;
  width: 38px;
  padding: 7px 0 0 4px;
  font-size: 25px;
  font-size: 24px;
  padding: 7px 0 0 6px;
  transform: rotate(-30deg);
}
.shortcutList-tooltip {
  display: none;
  position: fixed;
  height: 21px;
  padding: 0px 5px 0 5px;
  transform: translate(24px, -4px);
  background: hsl(0, 0%, 5%);
  font-size: 13px;
  color: white;
}
.addfolder-container {
  float: left;
  height: 38px;
  text-align: left;
}
.addfolder-container:hover {
  background: hsl(0, 0%, 30%);
  color: white;
}
.addfolder-container:hover .addfolder-tooltip {
  display: block;
}
.addfolder-folder-icon {
  height: 38px;
  width: 38px;
  padding: 7px 0 0 4px;
  font-size: 25px;
  padding: 8px 0 0 2px;
  font-size: 30px;
}
.addfolder-plus-icon {
  height: 38px;
  width: 38px;
  padding: 7px 0 0 4px;
  font-size: 25px;
  position: fixed;
  padding: 0 0 0 12px;
  transform: translate(0, -29px);
  font-size: 12px;
  font-weight: 100;
}
.addfolder-tooltip {
  display: none;
  position: fixed;
  height: 21px;
  padding: 0px 5px 0 5px;
  transform: translate(24px, -4px);
  background: hsl(0, 0%, 5%);
  font-size: 13px;
  color: white;
}
.column-container {
  float: left;
  height: 38px;
  text-align: left;
}
.column-container:hover {
  background: hsl(0, 0%, 30%);
  color: white;
}
.column-container:hover {
  background: hsl(0, 0%, 15%);
}
.column-container:hover .column-option .column-option-square {
  border-color: white;
}
.column-container:hover .column-option .column-option-line {
  border-color: white;
}
.column-option {
  display: inline-block;
  width: 38px;
  height: 38px;
  padding: 4px 0 0 3px;
}
.column-option:hover {
  background: hsl(0, 0%, 30%);
  color: white;
}
.column-option:hover .column-option-tooltip {
  display: block;
}
.column-option-square {
  display: inline-block;
  width: 31px;
  height: 30px;
  border: 3px solid hsl(0, 0%, 85%);
  border-top: 7px solid hsl(0, 0%, 85%);
  border-radius: 4px;
}
.column-option-line {
  position: relative;
  width: 17px;
  height: 28px;
  top: -35px;
  border-right: 3px solid hsl(0, 0%, 85%);
}
.column-option-grey {
  display: inline-block;
  width: 38px;
  height: 38px;
  padding: 4px 0 0 3px;
  background: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 15%);
}
.column-option-grey:hover {
  background: hsl(0, 0%, 30%);
  color: white;
}
.column-option-grey:hover .column-option-tooltip {
  display: block;
}
.column-option-grey .column-option-square {
  border-color: hsl(0, 0%, 15%);
}
.column-option-grey .column-option-line {
  border-color: hsl(0, 0%, 15%);
}
.column-option-grey:hover {
  background: hsl(0, 0%, 10%);
  color: hsl(0, 0%, 15%);
}
.column-option-icon-addon {
  position: relative;
  top: -58px;
  left: 17px;
  font-size: 10px;
}
.column-option-tooltip {
  display: none;
  position: fixed;
  height: 21px;
  padding: 0px 5px 0 5px;
  transform: translate(24px, -4px);
  background: hsl(0, 0%, 5%);
  font-size: 13px;
  color: white;
  transform: translate(20px, -6px);
}
.sort-container {
  float: left;
  height: 38px;
  text-align: left;
}
.sort-container:hover {
  background: hsl(0, 0%, 30%);
  color: white;
}
.sort-container:hover {
  background: hsl(0, 0%, 15%);
}
.sort-option {
  display: inline-block;
  width: 38px;
  height: 38px;
}
.sort-option:hover {
  background: hsl(0, 0%, 30%);
  color: white;
}
.sort-option:hover .sort-option-tooltip {
  display: block;
}
.sort-option-selected {
  display: inline-block;
  width: 38px;
  height: 38px;
  background: hsl(0, 0%, 40%);
}
.sort-option-selected:hover {
  background: hsl(0, 0%, 30%);
  color: white;
}
.sort-option-selected:hover {
  background: hsl(0, 0%, 40%);
}
.sort-option-selected:hover .sort-option-tooltip {
  display: block;
}
.sort-option-icon {
  width: 38px;
  height: 38px;
  padding: 8px 0 0 5px;
  font-size: 24px;
}
.sort-option-tooltip {
  display: none;
  position: fixed;
  height: 21px;
  padding: 0px 5px 0 5px;
  transform: translate(24px, -4px);
  background: hsl(0, 0%, 5%);
  font-size: 13px;
  color: white;
}
.tag-container {
  float: left;
  height: 38px;
  text-align: left;
}
.tag-container:hover {
  background: hsl(0, 0%, 30%);
  color: white;
}
.tag-container:hover {
  background: hsl(0, 0%, 15%);
}
.tag-container:hover .tag-option-icon-addon {
  color: hsl(0, 0%, 15%);
}
.tag-option {
  display: inline-block;
  width: 38px;
  height: 38px;
}
.tag-option:hover {
  background: hsl(0, 0%, 30%);
  color: white;
}
.tag-option:hover .tag-option-icon-addon {
  color: hsl(0, 0%, 30%);
}
.tag-option:hover .tag-option-tooltip {
  display: block;
}
.tag-option-selected {
  display: inline-block;
  width: 38px;
  height: 38px;
  background: hsl(0, 0%, 40%);
}
.tag-option-selected:hover {
  background: hsl(0, 0%, 30%);
  color: white;
}
.tag-option-selected:hover {
  background: hsl(0, 0%, 40%);
}
.tag-option-icon {
  width: 38px;
  height: 38px;
  padding: 8px 0 0 5px;
  font-size: 24px;
}
.tag-option-icon-addon {
  position: relative;
  top: -30px;
  left: 12px;
  font-size: 12px;
  color: hsl(0, 0%, 5%);
}
.tag-option-tooltip {
  display: none;
  position: fixed;
  height: 21px;
  padding: 0px 5px 0 5px;
  transform: translate(24px, -4px);
  background: hsl(0, 0%, 5%);
  font-size: 13px;
  color: white;
}
.tag-icon {
  height: 38px;
  width: 38px;
  padding: 7px 0 0 4px;
  font-size: 25px;
  flex: 1;
  width: 12px;
  padding: 7px 0 0 2px;
  background: none;
  font-size: 22px;
  overflow: visible;
}
.tag-icon-container {
  display: inline-flex;
  width: auto;
  overflow: visible;
}
.tag-dropdown {
  position: fixed;
  display: none;
  width: 90px;
  background: hsl(0, 0%, 5%);
  text-align: left;
  width: 123px;
  transform: translate(-2px, -1px);
}
.tag-title {
  height: 30px;
  padding-left: 7px;
  line-height: 30px;
  font-size: 14px;
  font-weight: 600;
}
.tag-option-title {
  height: 30px;
  padding-left: 7px;
  line-height: 30px;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  padding-left: 0;
  font-weight: normal;
}
.deepsearch-container {
  float: left;
  height: 38px;
  text-align: left;
}
.deepsearch-container:hover {
  background: hsl(0, 0%, 30%);
  color: white;
}
.deepsearch-container:hover .deepsearch-tooltip {
  display: block;
}
.deepsearch-icon {
  height: 38px;
  width: 38px;
  padding: 7px 0 0 4px;
  font-size: 25px;
}
.deepsearch-icon-on {
  height: 38px;
  width: 38px;
  padding: 7px 0 0 4px;
  font-size: 25px;
  background: hsl(0, 0%, 40%);
}
.deepsearch-icon-on:hover {
  background: hsl(0, 0%, 40%);
}
.deepsearch-tooltip {
  display: none;
  position: fixed;
  height: 21px;
  padding: 0px 5px 0 5px;
  transform: translate(24px, -4px);
  background: hsl(0, 0%, 5%);
  font-size: 13px;
  color: white;
}
.search-wrapper {
  display: flex;
  flex: 1;
  height: 38px;
}
.search-wrapper:hover {
  background: hsl(0, 0%, 30%);
  color: white;
}
.search-wrapper:hover .search-inbox {
  opacity: 1;
}
.search-wrapper ::placeHolder {
  color: hsl(0, 0%, 5%);
}
.search-box {
  position: absolute;
  flex: 1;
  height: 100%;
  z-index: 3;
  padding-inline-start: 44px;
  border: none;
  outline: none;
  background: none;
  color: white;
}
.search-box:hover ::placeHolder {
  color: hsl(0, 0%, 30%);
}
.search-inbox {
  width: 100%;
  margin: 5px 5px 5px 0;
  border-bottom: 1px solid white;
  opacity: 0;
}
.search-box-empty-button {
  position: absolute;
  top: 7px;
  right: 5px;
  z-index: 10;
}
.search-inbox-spacer {
  height: 38px;
  width: 38px;
  padding: 7px 0 0 4px;
  font-size: 25px;
}
i {
  text-align: center;
  vertical-align: top;
  overflow: visible;
}
* {
  user-select: none;
  text-decoration: none;
  cursor: default;
}
.App {
  text-align: left;
  width: 100%;
  height: 100%;
  display: inline-block;
}
