.App {
  text-align: left;
  width: 100%;
  height: 100%;
  display: inline-block;
  /* border: 1px solid black; */
  cursor: default;
}

.App-link {
  color: #09d3ac;
}


.nav-menu {
  width: 25%;
  height: 20px;
  border: 1px solid purple;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
}

.main-menu {
  width: 75%;
  height: 20px;
  border: 1px solid grey;
  position: fixed;
  top: 0;
  left: 25%;
  z-index: 1;
  overflow: hidden;
}

.main-body {
  width: 100%;
  height: 100%;
  border: 1px solid lime;
  position: fixed;
  top: 20px;
  left: 0;
  padding-bottom: 20px;
  overflow: hidden;
}

.nav-tab {
  display: inline-block;
  width: 25%;
  height: 100%;
  border: 1px solid red;
  vertical-align: top;
}

/* .nav-tab::-webkit-scrollbar {
  display: none;
} */

.nav-tab-item-wrapper {
  display: block;
  width: 100%;
  height: 20px;
  overflow: hidden;
}
.nav-tab-item-dropbox {
  border: 1px solid lime;
  width: 100%;
  position: relative;
  background: black;
  opacity: .3;
  height: 5px;
  transform: translate(0, -19px);
  z-index: 2;
  display: block;
}
.nav-tab-item-container {
  display: flex;
  position: relative;
}

.nav-tab-item {
  flex: 1;
  position: relative;
  height: 20px;
  border: 1px solid black;

  overflow: hidden;
  padding-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-tab-item-spacer {
  width: 20px;
  height: 20px;
  border: 1px solid purple;
  text-align: center;
}

.nav-tab-item-container:hover .nav-tab-item-config {
  opacity: 1;
  transition: all 1s ease;
}
.nav-tab-item-tail {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  border: 1px solid green;
  text-align: center;
}

.nav-tab-item-config {
  background: white;
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  border: 1px solid green;
  text-align: center;
  opacity: 0;
}


.main {
  display: inline-block;
  width: 75%;
  height: 100%;
  color: hsl(150, 7%, 10%);
  border: 1px solid blue;
}

.main-container {
  display: flex;
  border: 1px solid grey;
}
.main-item-wrapper {
  position: relative;
  display: flex;
  height: 20px;
  flex: 1;
}
.main-item-dummy {
  position: relative;
  display: flex;
  height: 20px;
  flex: 1;
}
.main-item {
  flex: 1;
  height: 100%;
  border: 1px solid black;
  position: relative;

  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-item-wrapper:hover .main-item-config {
  opacity: 1;
  width: 20px;
  transition: opacity 1s;
}
.main-item-config {
  display: block;
  height: 20px;
  width: 0px;
  border: 1px solid green;
  text-align: center;
  opacity: 0;
}

.icon-favicon {
  display: inline-block;

  width: 20px;
  height: 20px;
  object-fit: contain;
}

.main-item-title {
  flex: 1;
  display: inline-block;
  margin: 0 0 3px 5px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/**********************************/

.zoom {
  display: inline-block;
  border: 1px solid blue;
  height: 20px;
  width: 100px;
  text-align: center;
  overflow: hidden;
}
.zoom:hover .zoom-out-button {
  opacity: 1;
  transition: all .3s ease;
}
.zoom:hover .zoom-in-button {
  opacity: 1;
  transition: all .3s ease;
}

.zoom-out-button {
  display: inline-block;
  opacity: 0;
  border: 1px solid pink;
  width: 20px;
  heigth: 20px;
}
.zoom-title {
  display: inline-block;
  border: 1px solid red;
  width: 55px;
  height: 20px;
}
.zoom-in-button {
  display: inline-block;
  opacity: 0;
  border: 1px solid pink;
  width: 20px;
  heigth: 20px;
}


.column {
  display: inline-block;
  border: 1px solid blue;
  height: 20px;
  width: 100px;
  text-align: center;
  overflow: hidden;
}
.column:hover .column-button {
  opacity: 1;
  transition: all .3s ease;
}
.column:hover .column-button-grey {
  opacity: 1;
  transition: all .3s ease;
}

.column-button {
  display: inline-block;
  opacity: 0;
  border: 1px solid pink;
  width: 20px;
  heigth: 20px;
}
.column-title {
  display: inline-block;
  border: 1px solid red;
  width: 55px;
  height: 20px;
}
.column-button-grey {
  display: inline-block;
  opacity: 0;
  border: 1px solid pink;
  color: hsl(0, 0%, 60%);
  background: hsl(0, 0%, 80%);
  width: 20px;
  heigth: 20px;
}

.sort-container {
  display: inline-block;
  width: 95px;
  padding: 0 20px 0 20px;
  height: 20px;
  position: relative;
  border: 1px solid blue;
  overflow: hidden;
}

.sort {
  border: 1px solid red;
  width: 55px;
  height: 20px;
  text-align: center;
}
.sort:hover .sort-dropdown {
  display: block;
}
.sort-aligner {
  width: 100%;
  text-align: left;
}

.sort-dropdown {
  display: none;
  position: fixed;
  border: 1px solid purple;
  transform: translate(-1px, 1px);
  z-index: 3;
}

.sort-option {
  display: block;
  width: 120px;
  height: 20px;
  z-index: 3;
  border: 1px solid purple;
}

.option-selected {
  float: right;
  width: 20px;
  height: 20px;
  z-index: 3;
  border: 1px solid red;
}

.tab-container {
  display: inline-block;
  width: 95px;
  padding: 0 20px 0 20px;
  height: 20px;
  position: relative;
  border: 1px solid blue;
  overflow: hidden;
}

.search-wrapper {
  display: inline-block;
  float: right;
  position: relative;
  width: 300px;
  height: 20px;
}

.search-flexbox {
  display: flex;
  width: 100%;
  height: 100%;
  border: 1px solid purple;
}

.search-box {
  flex: 3;
  height: 20px;
}

.search-box-container {
  text-align: center;
  flex: 1;
  height: 20px;
  border: 1px solid red;
  overflow: hidden;
}

.search-box-container:hover .search-dropdown {
  display: block;
}
.search-aligner {
  text-align: left;
}

.search-dropdown {
  display: none;
  position: fixed;
  border: 1px solid purple;
  transform: translate(-2px, 2px);
  z-index: 3;
}

.search-option {
  display: block;
  width: 170px;
  height: 20px;
  z-index: 3;
  border: 1px solid purple;
}
/************************************/
.modal-hidden {
  display: none;
}

.modal-background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: black;
  opacity: .8;
}

.modal-box {
  background-color: hsla(279, 100%, 82%, 1);
  /* flex: none; */
  opacity: 1;
  border: 1px solid brown;
  width: 300px;
  height: 200px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-150px, -100px);
  z-index: 10;
}
