.App {
  text-align: left;
  width: 100%;
  height: 100%;
  display: inline-block;
  /* border: 1px solid black; */
}

.App-link {
  color: #09d3ac;
}

.nav-menu {
  width: 100%;
  height: 20px;
  border: 1px solid purple;
}

.nav-tab {
  display: inline-block;
  width: 25%;
  height: 100%;
  border: 1px solid red;
}

.nav-tab-item-container {
  display: flex;
}

.nav-tab-item {
  flex: 1;
  position: relative;
  height: 20px;
  border: 1px solid black;

  overflow: hidden;
  padding-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-tab-item-spacer {
  width: 20px;
  height: 20px;
  border: 1px solid purple;
  text-align: center;
}

.nav-tab-item-container:hover .nav-tab-item-tail {
  display: none;
  transition: all 1s ease;
}
.nav-tab-item-container:hover .nav-tab-item-config {
  display: block;
  transition: all 1s ease;
}
.nav-tab-item-tail {
  width: 20px;
  height: 20px;
  border: 1px solid green;
  text-align: center;
  transition: all 1s ease;
}

.nav-tab-item-config {
  width: 20px;
  height: 20px;
  border: 1px solid green;
  text-align: center;
  transition: all 1s ease;
  display: none;
}

.main-menu {
  width: 100%;
  border: 1px solid grey;
}

.main {
  display: inline-block;
  width: 75%;
  color: hsl(150, 7%, 10%);
  border: 1px solid blue;
  height: 100%;
}

.main-container {
  display: flex;
  border: 1px solid grey;
}
.main-item-wrapper {
  position: relative;
  display: flex;
  height: 20px;
  flex: 1;
}
.main-item {
  flex: 1;
  height: 100%;
  /* vertical-align: center; */
  border: 1px solid black;
}

.main-item-wrapper:hover .main-item-config {
  display: block;
  text-align: left;
  opacity: 1;
  transition: all 1s ease;
}
.main-item-wrapper:hover .main-item-tail {
  display: none;
  transition: all 1s ease;
}
.main-item-config {
  height: 20px;
  width: 20px;
  border: 1px solid green;
  text-align: center;
  display: none;
  opacity: 0;
  transition: all 1s ease;
}
.main-item-tail {
  height: 20px;
  width: 20px;
}

.icon-favicon {
  display: inline-block;

  width: 20px;
  height: 20px;
  object-fit: contain;
}

.main-item-title {
  display: inline-block;
  margin: 0 0 3px 5px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/**********************************/

.zoom {
  display: inline-block;
  border: 1px solid blue;
  height: 20px;
  width: 100px;
  text-align: center;
}
.zoom:hover .zoom-out-button {
  opacity: 1;
  transition: all .3s ease;
}
.zoom:hover .zoom-in-button {
  opacity: 1;
  transition: all .3s ease;
}

.zoom-out-button {
  display: inline-block;
  opacity: 0;
  border: 1px solid pink;
  width: 20px;
  heigth: 20px;
}
.zoom-title {
  display: inline-block;
  border: 1px solid red;
  width: 55px;
  height: 20px;
}
.zoom-in-button {
  display: inline-block;
  opacity: 0;
  border: 1px solid pink;
  width: 20px;
  heigth: 20px;
}


.column {
  display: inline-block;
  border: 1px solid blue;
  height: 20px;
  width: 100px;
  text-align: center;
}
.column:hover .column-reduce-button {
  opacity: 1;
  transition: all .3s ease;
}
.column:hover .column-add-button {
  opacity: 1;
  transition: all .3s ease;
}

.column-reduce-button {
  display: inline-block;
  opacity: 0;
  border: 1px solid pink;
  width: 20px;
  heigth: 20px;
}
.column-title {
  display: inline-block;
  border: 1px solid red;
  width: 55px;
  height: 20px;
}
.column-add-button {
  display: inline-block;
  opacity: 0;
  border: 1px solid pink;
  width: 20px;
  heigth: 20px;
}

/************************************/

.folder-config-modal {
  background-color: hsla(280, 75%, 60%, .1);
  height: 50px;
  width: 130px;
  top: 250px;
  left: -250px;
  outline: none;
  position: absolute;
  border: 1px solid orange;
}

.link-config-modal {
  background-color: hsla(280, 75%, 60%, .1);
  height: 50px;
  width: 130px;
  outline: none;
  position: fixed;
  border: 1px solid brown;
  overflow: auto;
  z-index: 999;
}
