@item-height: 28px;
@top-menu-height: 32px;
@top-menu-width: 32px;
@top-menu-option-font-size: 13px;
@top-menu-option-line-height: 26px;
@button-default-width: 75px;
@background1: hsl(0, 0%, 5%);
@background2: hsl(0, 0%, 20%);
@background3: hsl(0, 0%, 13%);
@background-selected: hsl(0, 0%, 15%);
@background-highlight: hsl(0, 0%, 35%);
@default-color: hsl(0, 0%, 85%);

i {
  text-align: center;
  vertical-align: top;
  overflow: visible;
}

* {
  user-select: none;
}

.App {
  text-align: left;
  width: 100%;
  height: 100%;
  display: inline-block;
  cursor: default;
}

.nav-tab {
  display: inline-block;
  width: 25%;
  height: 100%;
  vertical-align: top;
  overflow: auto;
  padding-bottom: @top-menu-height;
  background-color: @background2;
}
.nav-tab::-webkit-scrollbar {
  display: none;
}

.nav-tab-item-wrapper {
  display: block;
  width: 100%;
  height: @item-height;
}

.nav-tab-item-dropbox {
  border: 1px solid lime;
  width: 100%;
  position: relative;
  background: black;
  opacity: 0;
  height: 10px;
  transform: translate(0, -28px);
  z-index: 2;
  display: block;
}

.nav-tab-item-container {
  display: flex;
  position: relative;
}

.nav-tab-item {
  flex: 1;
  position: relative;
  height: @item-height;
  overflow: hidden;
  padding: 1px 10px 0 7px;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 25px;
}

.nav-tab-item:hover {
  background: @background-highlight;
  color: @default-color;
}

.nav-tab-item-over {
  flex: 1;
  position: relative;
  height: @item-height;
  background: @background-selected;
  padding: 1px 10px 0 7px;
  overflow: hidden;
  padding-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: all .5s ease;
  line-height: 25px;
}

.nav-tab-item-over:hover {
  background: @background-highlight;
  color: @default-color;
}

.item-spacer {
  width: 20px;
  height: @item-height;
  text-align: center;
}

.nav-tab-item-container:hover .nav-tab-item-config {
  opacity: 1;
  transition: all .5s ease;
}

.nav-tab-item-title {
  display: inline-block;
  margin-left: 2px;
}

.nav-tab-item-tail {
  position: absolute;
  top: 0;
  right: 0;
  width: @item-height;
  height: @item-height;
  text-align: center;
  margin-right: 2px;
  z-index: 0;
}

.nav-tab-item-config {
  background: @background-highlight;
  position: absolute;
  top: 0;
  right: 0;
  width: @item-height;
  height: @item-height;
  text-align: center;
  opacity: 0;
  padding-top: 1px;
  z-index: 1;
}

.main {
  display: inline-block;
  width: 75%;
  height: 100%;
  color: white;
  overflow: auto;
  background-color: @background3;
}

.main-body {
  width: 100%;
  height: 100%;
  position: fixed;
  top: @top-menu-height;
  left: 0;
  padding-bottom: @top-menu-height;
}

.main-container {
  display: flex;
}

.main-item-wrapper {
  position: relative;
  display: flex;
  height: @item-height;
  flex: 1;
  background-color: @background3;
  color: @default-color;
  padding-right: 4px;
}

.main-item-wrapper:hover {
  background: @background-highlight;
  color: white;
}

.main-item-dummy {
  position: relative;
  height: @item-height;
  flex: 1;
}

.main-item {
  flex: 1;
  height: 100%;
  display: flex;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0 5px 5px;
}

.main-item-wrapper:hover .main-item-config {
  opacity: 1;
  width: @item-height;
  transition: opacity 1s;
}

.main-item-config {
  display: block;
  height: @item-height;
  width: 0px;
  text-align: right;
  opacity: 0;
  background: @background-highlight;
  overflow: hidden;
  padding-top: 3px;
}

.icon-favicon {
  display: inline-block;
  width: 20px;
  height: @item-height;
  object-fit: contain;
}

.main-item-title {
  flex: 1;
  margin: 0 0 3px 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: @default-color;
  margin: 3px 0 0 5px;
}

.main-item-folder-title {
  .main-item-title();
  margin: 3px 0 0 3px;
}

.main-item-folder-icon {
  margin: 3px 0 0 3px;
  color: @default-color;
}

/**********************************/
.top-bar {
  width: 100%;
  height: @top-menu-height;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 3px 4px @background-selected;
  z-index: 1;
}

.top-bar-dropdown-aligner {
  width: 100%;
  text-align: left;
}

.top-bar-dropdowns {
  display: none;
  position: fixed;
  width: 120px;
  transform: translate(-1px, 1px);
}

.nav-menu {
  width: 25%;
  height: @top-menu-height;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 31px;
  background-color: @background1;
  padding-left: 8px;
  font-weight: bold;
}

.nav-menu-button {
  display: inline-block;
  width: @top-menu-width;
  height: @top-menu-height;
  float: right;
  text-align: center;
  padding-left: 5px;
}

.nav-menu-button:hover {
  background: @background-highlight;
  color: white;
}

.main-menu {
  width: 75%;
  height: @top-menu-height;
  position: absolute;
  top: 0;
  left: 25%;
  vertical-align: top;
  background-color: @background1;
}

.column-container {
  float: left;
  vertical-align: top;
  width: @top-menu-width;
  height: @top-menu-height;
  text-align: center;
  font-size: 20px;
}

.column {
  display: inline-block;
  width: @top-menu-width;
  height: @top-menu-height;
  padding: 5px 0 0 4px;
  &:hover {
    background: @background-highlight;
  };
  &:hover .column-dropdown {
    display: inline-block;
  }
}

.column-dropdown {
  display: none;
  position: fixed;
  text-align: center;
  width: 90px;
  transform: translate(-4px, 6px);
  background: @background1;
}

.column-option {
  width: 90px;
  height: @item-height;
  background: @background1;
  font-size: 12px;
}

.column-title {
  font-size: @top-menu-option-font-size;
  font-weight: 600;
  width: 90px;
  height: @item-height;
  text-align: left;
  line-height: @top-menu-option-line-height;
  padding-left: 6px;
}

.column-content {
  display: inline-block;
  font-size: @top-menu-option-font-size;
  font-weight: 600;
  width: 25px;
  height: @item-height;
  padding-top: 3px;
  vertical-align: bottom;
}

.column-option-left {
  float: left;
  font-size: 20px;
  height: @item-height;
  height: @item-height;
  padding: 3px 0 0 4px;
  vertical-align: bottom;
  &:hover {
    background: @background-highlight;
  }
}

.column-option-left-grey {
  .column-option-left;
  color: @background2;
  &:hover {
    background: @background1;
  }
}

.column-option-right {
  .column-option-left;
  float: right;
}

.column-option-right-grey {
  .column-option-right;
  color: @background2;
  &:hover {
    background: @background1;
  }
}

.sort-container {
  float: left;
  vertical-align: top;
  height: @top-menu-height;
  width: @top-menu-width;
  text-align: center;
}

.sort {
  display: inline-block;
  width: @top-menu-width;
  height: @top-menu-height;
  padding: 2px 0 0 2px;
  font-size: 19px;
  font-weight: 600;
  &:hover {
    background: @background-highlight;
  }
  &:hover .sort-dropdown {
    display: block;
  }
}

.sort-aligner {
  width: 100%;
  text-align: left;
}

.sort-dropdown {
  display: none;
  position: fixed;
  width: 155px;
  transform: translate(-2px, 9px);
  background: @background1;
}

.sort-icon {
  display: inline-block;
  width: @item-height;
  height: @item-height;
  font-size: 19px;
  padding: 1px 0 0 0;
}

.sort-title {
 .column-title;
}

.sort-option {
  width: 155px;
  height: @item-height;
  background: @background1;
  padding-left: 5px;
  &:hover {
    background: @background-highlight;
  }
}

.sort-option-title {
  display: inline-block;
  height: @item-height;
  font-size: @top-menu-option-font-size;
  line-height: @top-menu-option-line-height;
}

.option-select {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  overflow: visible;
  padding-left: 3px;
}

.option-select-hide {
  visibility: hidden;
  .option-select
}

.tag-container {
  float: left;
  vertical-align: top;
  width: @button-default-width;
  height: @top-menu-height;
  position: relative;
  line-height: 30px;
}

.tag {
  width: @button-default-width;
  height: @top-menu-height;
  text-align: center;
  font-weight: 600;
  &:hover {
    background-color: @background-highlight;
  }
  &:hover .tag-dropdown {
    display: block;
  }
}

.tag-aligner {
  width: 100%;
  text-align: left;
}

.tag-dropdown {
  .top-bar-dropdowns;
  width: 90px;
}

.tag-onoff-button {
  width: 90px;
  height: @item-height;
  background-color: @background1;
  line-height: 23px;
  font-size: 12px;
  padding-left: 5px;
  &:hover {
    background-color: @background-highlight;
  }
}

.tag-onoff-button-on {
  width: 90px;
  height: @item-height;
  background-color: @background1;
  line-height: 23px;
  font-size: 12px;
  padding-left: 5px;
  &:hover {
    background-color: @background-highlight;
  }
}


.tag-option {
  display: block;
  width: 80px;
  height: @item-height;
}

.tag-selected {
  display: inline-block;
  width: 80px;
  height: @item-height;
}


.shortcut-button {
  display: inline-block;
  width: 110px;
  height: @item-height;
}

.shortcut-button-on {
  display: inline-block;
  width: 110px;
  height: @item-height;
}

.search-wrapper {
  display: inline-block;
  float: right;
  position: relative;
  width: 330px;
  height: @top-menu-height;
}

.search-flexbox {
  display: flex;
  width: 100%;
  height: 100%;
}

.search-deep-off {
  margin-top: 4px;
  display: block;
  flex: none;
  width: 112px;
  height: @item-height;
  text-align: left;
  font-weight: 600;
  padding-left: 7px;
  &:hover {
    background-color: @background-highlight;
  }
}

.search-deep {
  margin-top: 4px;
  display: block;
  flex: none;
  width: 112px;
  height: @item-height;
  text-align: left;
  font-weight: 600;
  padding-left: 7px;
  &:hover {
    background-color: @background-highlight;
  }
}

.search-box {
  flex: 1;
  height: @item-height;
  margin: 3px 5px 0 0;
  background-color: inherit;
  border: none;
  outline: none;
}
.search-box:focus {
  border: 1px solid white;
}

/************************************/
.modal-hidden {
  display: none;
}

.modal-background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  background-color: black;
  opacity: .8;
}

.modal-box {
  background-color: @background2;
  /* flex: none; */
  opacity: 1;
  width: 400px;
  height: 300px;
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-150px, -100px);
  z-index: 10;
  overflow: auto;
  padding: 5px 5px 5px 5px;
}

.modal-tag-onoff-button {
  display: inline-block;
  width: 90px;
  height: @item-height;
  background-color: @background1;
  line-height: 23px;
  font-size: 12px;
  text-align: center;
  margin: 1px 2px 1px 2px;
  &:hover {
    background-color: @background-highlight;
  }
}

.modal-tag-onoff-button-on {
  display: inline-block;
  width: 90px;
  height: @item-height;
  background-color: @background-selected;
  line-height: 23px;
  font-size: 12px;
  padding-left: 5px;
  text-align: center;
  margin: 1px 2px 1px 2px;
  &:hover {
    background-color: @background-highlight;
  }
}

.modal-box-close-button {
  position: absolute;
  right: 0;
  width: 40px;
  height: @item-height;
  background-color: @background1;
  text-align: center;
  &:hover {
    background-color: @background-highlight;
  }
}

.modal-divider {
  display: block;
  width: 100%;
  height: @item-height;
}

.modal-tags-container {
  display: block;
  width: 100%;
  margin-top: 10px;
}

.modal-shortcut-container {
  display: block;
  width: 100%;
}

.modal-buttons-container {
  display: block;
  width: 100%;
  text-align: right;
}

.modal-delete-button {
  float: left;
  left: 5;
}

.shortcut-button-on {
  display: inline-block;
  width: 120px;
  height: @item-height;
  background-color: @background-selected;
  line-height: 23px;
  font-size: 12px;
  padding-left: 5px;
  text-align: center;
  margin: 1px 2px 1px 2px;
  &:hover {
    background-color: @background-highlight;
  }
}

.shortcut-button {
  display: inline-block;
  width: 120px;
  height: @item-height;
  background-color: @background1;
  line-height: 23px;
  font-size: 12px;
  text-align: center;
  margin: 1px 2px 1px 2px;
  &:hover {
    background-color: @background-highlight;
  }
}

.mod-tag-onoff-button-on {
  display: inline-block;
  width: 90px;
  height: @item-height;
  background-color: @background-selected;
  line-height: 23px;
  font-size: 12px;
  padding-left: 5px;
  text-align: center;
  margin: 1px 2px 1px 2px;
  &:hover {
    background-color: @background-highlight;
  }
}
.mod-tag-onoff-button {
  display: inline-block;
  width: 90px;
  height: @item-height;
  background-color: @background1;
  line-height: 23px;
  font-size: 12px;
  text-align: center;
  margin: 1px 2px 1px 2px;
  &:hover {
    background-color: @background-highlight;
  }
}
