@item-height: 28px;
@top-menu-height: 32px;
@top-menu-width: 32px;
@top-menu-option-font-size: 13px;
@top-menu-option-line-height: 26px;
@button-default-width: 75px;
@background1: hsl(0, 0%, 5%);
@background2: hsl(0, 0%, 20%);
@background3: hsl(0, 0%, 13%);
@background-selected: hsl(0, 0%, 15%);
@background-highlight: hsl(0, 0%, 35%);
@default-color: hsl(0, 0%, 85%);
@darker-color: hsl(0, 0%, 50%);
